@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-underline {
    position: relative;
    padding-bottom: 4px;
  }
  .custom-underline::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: currentColor;
    margin-bottom: 4px; /* Adjust the margin as needed */
  }